@font-face {
  font-family: 'Inter';
  src: url('https://netflix-web.vercel.app/fonts/Inter/Inter-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: optional;
}

@font-face {
  font-family: 'Inter';
  src: url('https://netflix-web.vercel.app/fonts/Inter/Inter-Medium.ttf');
  font-style: medium;
  font-weight: 700;
  font-display: optional;
}
